
name: Flask CI/CD
on:
  push:
    branches:
      - main    # Runs workflow when code is pushed to main
jobs:
  build-test-deploy:
    runs-on: ubuntu-latest  # Workflow runs on a Linux VM
    steps:
      # 1. Checkout your code
      - name: Checkout repo
        uses: actions/checkout@v3

      # 2. Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # 3. Install dependencies
        run: |
            cd Assignments_3
            ls -R
            python -m pip install --upgrade pip
            pip install -r Assignments_3/requirements.txt
            
      # 4. Run tests (if any)
      - name: Run tests
        run: |
          echo "No tests yet. Placeholder"

      # 5. Build Docker image
      - name: Build Docker image
        run: docker build -t flask-k8s-demo:latest ./Assignments_3

      # 6. (Optional) Push Docker image to Docker Hub
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Push image
        run: |
          docker tag flask-k8s-demo:latest ${{ secrets.DOCKER_USERNAME }}/flask-k8s-demo:latest
          docker push ${{ secrets.DOCKER_USERNAME }}/flask-k8s-demo:latest

      # 7. Deploy to Kubernetes
      - name: Set up kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG }}" > kubeconfig
          export KUBECONFIG=$PWD/kubeconfig

      - name: Deploy to Minikube
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml

       # Wait until all pods are in Running state (max 120s)
        kubectl wait --for=condition=Ready pod -l app=flask-app --timeout=120s
  
       #  Show deployments, pods, and services
         kubectl get deployments
         kubectl get pods
         kubectl get svc
